---
title: Vérification d'emploi i9 vérification
description: Aux États-Unis, l'IRCA (Immigration Reform and Control Act) requiert que les employeurs vérifient l'admissibilité des employés nouvellement engagés.
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: ''
ms.service: dynamics-ax-applications
ms.technology: ''
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: kfend
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.openlocfilehash: c1886413ba7eabc60f902c0183b443d63a579d7b
ms.sourcegitcommit: 34e543e807ac8790597f522fe3b4f0266cf4ee56
ms.translationtype: HT
ms.contentlocale: fr-FR
ms.lasthandoff: 03/24/2020
ms.locfileid: "3161682"
---
# <a name="employment-verification-i9-verification"></a><span data-ttu-id="95c2b-103">Vérification d'emploi i9 vérification</span><span class="sxs-lookup"><span data-stu-id="95c2b-103">Employment verification i9 verification</span></span>

[!include [banner](../../../includes/banner.md)]

<span data-ttu-id="95c2b-104">Aux États-Unis, l'IRCA (Immigration Reform and Control Act) requiert que les employeurs vérifient l'admissibilité des employés nouvellement engagés.</span><span class="sxs-lookup"><span data-stu-id="95c2b-104">The Immigration Reform and Control Act requires US employers to verify the employment eligibility status of newly hired employees.</span></span> <span data-ttu-id="95c2b-105">Cette procédure décrit les étapes pour enregistrer les documents nécessaires à la vérification du Formulaire I-9.</span><span class="sxs-lookup"><span data-stu-id="95c2b-105">This procedure will walk you through the steps of recording the necessary documents for I-9 verification.</span></span> <span data-ttu-id="95c2b-106">Utilisez la société fictive USMF pour cette procédure.</span><span class="sxs-lookup"><span data-stu-id="95c2b-106">Use the USMF company for this procedure.</span></span>

1. <span data-ttu-id="95c2b-107">Accédez à Ressources humaines > Collaborateurs > Employés.</span><span class="sxs-lookup"><span data-stu-id="95c2b-107">Go to Human resources > Workers > Employees.</span></span>
2. <span data-ttu-id="95c2b-108">Utilisez le Filtre rapide pour rechercher les enregistrements.</span><span class="sxs-lookup"><span data-stu-id="95c2b-108">Use the Quick Filter to find records.</span></span> <span data-ttu-id="95c2b-109">Par exemple, filtrez sur le champ Nom avec une valeur de « Vince ».</span><span class="sxs-lookup"><span data-stu-id="95c2b-109">For example, filter on the Name field with a value of 'Vince'.</span></span>
3. <span data-ttu-id="95c2b-110">Sélectionnez l'employé.</span><span class="sxs-lookup"><span data-stu-id="95c2b-110">Select the employee.</span></span> <span data-ttu-id="95c2b-111">Exemple : Vince Prado</span><span class="sxs-lookup"><span data-stu-id="95c2b-111">Example: Vince Prado</span></span>
4. <span data-ttu-id="95c2b-112">Développez Organisateur des informations personnelles.</span><span class="sxs-lookup"><span data-stu-id="95c2b-112">Expand the Personal information FastTab.</span></span>
5. <span data-ttu-id="95c2b-113">Cliquez sur Numéros d'identification.</span><span class="sxs-lookup"><span data-stu-id="95c2b-113">Click Identification numbers.</span></span>
6. <span data-ttu-id="95c2b-114">Cliquez sur Nouveau.</span><span class="sxs-lookup"><span data-stu-id="95c2b-114">Click New.</span></span>
7. <span data-ttu-id="95c2b-115">Sélectionnez le type d'identification que vous enregistrez.</span><span class="sxs-lookup"><span data-stu-id="95c2b-115">Select the identification type that you are recording.</span></span> <span data-ttu-id="95c2b-116">Exemple : Passeport</span><span class="sxs-lookup"><span data-stu-id="95c2b-116">Example: Passport</span></span>
8. <span data-ttu-id="95c2b-117">Tapez une valeur dans le champ Nombre.</span><span class="sxs-lookup"><span data-stu-id="95c2b-117">In the Number field, type a value.</span></span>
9. <span data-ttu-id="95c2b-118">Sélectionnez Oui dans le champ Principal.</span><span class="sxs-lookup"><span data-stu-id="95c2b-118">Select Yes in the Primary field.</span></span>
10. <span data-ttu-id="95c2b-119">Dans le champ Description, entrez une brève description de l'enregistrement d'identification.</span><span class="sxs-lookup"><span data-stu-id="95c2b-119">In the Description field, enter a brief description of the identification record..</span></span>
11. <span data-ttu-id="95c2b-120">Sélectionnez l'agence ayant délivré le document d'identification du collaborateur.</span><span class="sxs-lookup"><span data-stu-id="95c2b-120">In the issuing agency select the agency that issued the form of identification to the worker.</span></span> <span data-ttu-id="95c2b-121">Exemple : Gouvernement</span><span class="sxs-lookup"><span data-stu-id="95c2b-121">Example: Government</span></span>
12. <span data-ttu-id="95c2b-122">Entrez la date à laquelle l'agence a délivré le document d'identification du collaborateur.</span><span class="sxs-lookup"><span data-stu-id="95c2b-122">Enter the date that the issuing agency issued the form of identification to the worker.</span></span> <span data-ttu-id="95c2b-123">Exemple : 15/02/2011</span><span class="sxs-lookup"><span data-stu-id="95c2b-123">Example: 02/15/2011</span></span>
13. <span data-ttu-id="95c2b-124">Entrez la date d'expiration du document d'identification.</span><span class="sxs-lookup"><span data-stu-id="95c2b-124">Enter the date when the form of identification expires.</span></span> <span data-ttu-id="95c2b-125">Exemple : 15/02/2021</span><span class="sxs-lookup"><span data-stu-id="95c2b-125">Example: 2/15/2021</span></span>
14. <span data-ttu-id="95c2b-126">Cliquez sur Enregistrer.</span><span class="sxs-lookup"><span data-stu-id="95c2b-126">Click Save.</span></span>
15. <span data-ttu-id="95c2b-127">Fermez la page.</span><span class="sxs-lookup"><span data-stu-id="95c2b-127">Close the page.</span></span>
16. <span data-ttu-id="95c2b-128">Cliquez sur l'onglet Emploi.</span><span class="sxs-lookup"><span data-stu-id="95c2b-128">Click the Employment tab.</span></span>
17. <span data-ttu-id="95c2b-129">Cliquez sur I-9.</span><span class="sxs-lookup"><span data-stu-id="95c2b-129">Click I-9.</span></span>
18. <span data-ttu-id="95c2b-130">Cliquez sur Nouveau.</span><span class="sxs-lookup"><span data-stu-id="95c2b-130">Click New.</span></span>
19. <span data-ttu-id="95c2b-131">Dans le champ Éligibilité du collaborateur, sélectionnez une option.</span><span class="sxs-lookup"><span data-stu-id="95c2b-131">In the Work eligibility field, select an option.</span></span>
    * <span data-ttu-id="95c2b-132">Si l'employé n'est pas un citoyen ou un ressortissant des États‑Unis, vous devez également entrer la date jusqu'à laquelle l'employé est autorisé à travailler ou son numéro d'admission.</span><span class="sxs-lookup"><span data-stu-id="95c2b-132">If the employee is not a citizen or national of the United States, you must enter the worker's resident alien or admission number.</span></span>  
20. <span data-ttu-id="95c2b-133">Sélectionnez l'option GroupListA.</span><span class="sxs-lookup"><span data-stu-id="95c2b-133">Select the GroupListA option.</span></span>
    * <span data-ttu-id="95c2b-134">La liste que vous sélectionnez dépend du formulaire d'identification que le travailleur a fourni.</span><span class="sxs-lookup"><span data-stu-id="95c2b-134">The list that you select depends on what form of identification the worker provided.</span></span> <span data-ttu-id="95c2b-135">Un travailleur doit fournir un document de la liste A ou un document de la liste B et C. Par exemple, si le travailleur a fourni un passeport, alors la liste A doit être sélectionnée.</span><span class="sxs-lookup"><span data-stu-id="95c2b-135">A worker must provide one List A document or one document from List B and C. For example, if the worker provided a passport, then List A could be selected.</span></span> <span data-ttu-id="95c2b-136">Toutefois, si le travailleur a fourni uniquement son permis de conduire et sa carte de sécurité sociale, alors les listes B et C doivent être sélectionnées.</span><span class="sxs-lookup"><span data-stu-id="95c2b-136">However, if the worker has only provided their drivers license and social security card, then list B and C must be selected.</span></span>  
21. <span data-ttu-id="95c2b-137">Dans le champ Type de document I-9, sélectionnez le type de document que le collaborateur a fourni.</span><span class="sxs-lookup"><span data-stu-id="95c2b-137">In the I-9 document type field, select the type of document that the worker provided.</span></span>
22. <span data-ttu-id="95c2b-138">Entrez ou sélectionnez une valeur dans le champ Numéro de référence.</span><span class="sxs-lookup"><span data-stu-id="95c2b-138">In the Document number field, enter or select a value.</span></span>
23. <span data-ttu-id="95c2b-139">Cliquez sur Enregistrer.</span><span class="sxs-lookup"><span data-stu-id="95c2b-139">Click Save.</span></span>

