--- 
title: "Vérification d'emploi i9 vérification"
description: "Aux États-Unis, l'IRCA (Immigration Reform and Control Act) requiert que les employeurs vérifient l'admissibilité des employés nouvellement engagés."
author: ShielaSogge
manager: AnnBe
ms.date: 08/29/2018
ms.topic: business-process
ms.prod: 
ms.service: dynamics-ax-applications
ms.technology: 
ms.search.form: HcmWorker, HcmPersonIdentificationNumber, Hcmi9Document
audience: Application User
ms.reviewer: josaw
ms.search.scope: Core, Operations
ms.search.region: Global
ms.author: shielas
ms.search.validFrom: 2016-06-30
ms.dyn365.ops.version: Version 7.0.0
ms.translationtype: HT
ms.sourcegitcommit: 0312b8cfadd45f8e59225e9daba78b9e216cff51
ms.openlocfilehash: 4d7346507179d237f60459978b9b7c6351f48611
ms.contentlocale: fr-fr
ms.lasthandoff: 09/14/2018

---
# <a name="employment-verification-i9-verification"></a>Vérification d'emploi i9 vérification

[!include [task guide banner](../../../includes/task-guide-banner.md)]

Aux États-Unis, l'IRCA (Immigration Reform and Control Act) requiert que les employeurs vérifient l'admissibilité des employés nouvellement engagés. Cette procédure décrit les étapes pour enregistrer les documents nécessaires à la vérification du Formulaire I-9. Utilisez la société fictive USMF pour cette procédure.

1. Accédez à Ressources humaines > Collaborateurs > Employés.
2. Utilisez le Filtre rapide pour rechercher les enregistrements. Par exemple, filtrez sur le champ Nom avec une valeur de « Vince ».
3. Sélectionnez l'employé. Exemple : Vince Prado
4. Développez Organisateur des informations personnelles.
5. Cliquez sur Numéros d'identification.
6. Cliquez sur Nouveau.
7. Sélectionnez le type d'identification que vous enregistrez. Exemple : Passeport
8. Tapez une valeur dans le champ Nombre.
9. Sélectionnez Oui dans le champ Principal.
10. Dans le champ Description, entrez une brève description de l'enregistrement d'identification.
11. Sélectionnez l'agence ayant délivré le document d'identification du collaborateur. Exemple : Gouvernement
12. Entrez la date à laquelle l'agence a délivré le document d'identification du collaborateur. Exemple : 15/02/2011
13. Entrez la date d'expiration du document d'identification. Exemple : 15/02/2021
14. Cliquez sur Enregistrer.
15. Fermez la page.
16. Cliquez sur l'onglet Emploi.
17. Cliquez sur I-9.
18. Cliquez sur Nouveau.
19. Dans le champ Éligibilité du collaborateur, sélectionnez une option.
    * Si l'employé n'est pas un citoyen ou un ressortissant des États‑Unis, vous devez également entrer la date jusqu'à laquelle l'employé est autorisé à travailler ou son numéro d'admission.  
20. Sélectionnez l'option GroupListA.
    * La liste que vous sélectionnez dépend du formulaire d'identification que le travailleur a fourni. Un travailleur doit fournir un document de la liste A ou un document de la liste B et C. Par exemple, si le travailleur a fourni un passeport, alors la liste A doit être sélectionnée. Toutefois, si le travailleur a fourni uniquement son permis de conduire et sa carte de sécurité sociale, alors les listes B et C doivent être sélectionnées.  
21. Dans le champ Type de document I-9, sélectionnez le type de document que le collaborateur a fourni.
22. Entrez ou sélectionnez une valeur dans le champ Numéro de référence.
23. Cliquez sur Enregistrer.


